@model  WalletInspector2.Core.Code.Data.Period
@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        UpdateWeekAndMontStatistics();
    });
</script>

<div id="DayView">
    @foreach (var day in @Model.Days)
    {
        <div>@Html.Partial("~/Views/Day/DayExpensesView.cshtml", day)</div>
    }
</div>