@model WalletInspector2.Core.Code.Data.Period
@{
    ViewBag.Title = "Home Page";
    var tags = (ViewBag.Tags as IEnumerable<string>).ToArray();
    var jsonTags = Json.Encode(tags);
    var lastDay = Model.Days.Last();
}

@Scripts.Render("~/bundles/main")

<script type="text/javascript">
    $(document).ready(function () {
        UpdateButtons();
        UpdatePrevNextButtons();
        UpdateAutocomplete(JSON.parse('@Html.Raw(jsonTags)'));
    })
</script>

<div id="dayView">
    <div>
        <div style="float:left">
            @using (Ajax.BeginForm("Previous", "Home", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "daysView", OnSuccess = "UpdateButtons", OnComplete = "RemoveAd" }))
            {
                <button type="submit" value="Prev" id="ButtonPrev" />
            }
        </div>

        <div style="float:none">
            @using (Ajax.BeginForm("Next", "Home", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "daysView", OnSuccess = "UpdateButtons", OnComplete = "RemoveAd" }))
            {
                <button type="submit" value="Next" id="ButtonNext" />
            }
        </div>
    </div>

    <div class="row" id="daysView">
        @Html.Partial("~/Views/Home/DaysView.cshtml", Model)
    </div>
</div>

<div id="monthStat"></div>
<div id="weekStat"></div>










